<div class="main-view view-image">
  <h3>Image Show</h3>
  <div class="action-label">
    <button class="btn btn-success" ng-click="AddImage()">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      <span>Add image</span>
    </button>
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        More Action <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="javascript:;" ng-click="Del('start')">Delete</a></li>
      </ul>
    </div>
  </div>
  <common-table class="data-list-label" table-data="imageTableData">
  </common-table>
</div>
