<div class="common-overview">
<div class="row">
  <h4><span class="glyphicon glyphicon-pushpin"></span>&nbsp;&nbsp;Overview</h4>
  <div class="overview-detail">
    <div class="overview-chart">
      <div class="number-show bounceInLeft animated">{{info.Containers}}</div>
      <div class="number-show-note">Num of Containers</div>
    </div>
    <div class="overview-chart">
      <div class="number-show bounceInRight animated">{{info.Images}}</div>
      <div class="number-show-note">Num of Images</div>
    </div>
  </div>
</div>

<div class="row">
  <h4><span class="glyphicon glyphicon-pushpin"></span>&nbsp;&nbsp;Docker Config</h4>
  <div class="docker-detail">
    <div class="row">
      <div class="key">Init Path</div><div class="value">{{info.InitPath}}</div>
      <div class="key">Docker Root Dir</div><div class="value">{{info.DockerRootDir}}</div>
    </div>
    <div class="row">
      <div class="key">Logging Driver</div><div class="value">{{info.LoggingDriver}}</div>
      <div class="key">Index Server Address</div><div class="value">{{info.IndexServerAddress}}</div>
    </div>
    <div class="row">
      <div class="key">No Proxy</div><div class="value">{{info.NoProxy || 'None'}}</div>
      <div class="key">Execution Driver</div><div class="value">{{info.ExecutionDriver}}</div>
    </div>
    <div class="row">
      <div class="key">Oom Kill Disable</div><div class="value">{{info.OomKillDisable}}</div>
      <div class="key">Experimental Build</div><div class="value">{{info.ExperimentalBuild}}</div>
    </div>
    <div class="row">
      <div class="key">Debug</div><div class="value">{{info.Debug}}</div>
      <div class="key">IPv4 Forwarding</div><div class="value">{{info.IPv4Forwarding}}</div>
    </div>
    <div class="row">
      <div class="key">Http Proxy</div><div class="value">{{info.HttpProxy || 'None'}}</div>
      <div class="key">Https Proxy</div><div class="value">{{info.HttpsProxy || 'None'}}</div>
    </div>
    <div class="row">
      <div class="key">Init Sha1</div><div class="value">{{info.InitSha1 || 'None'}}</div>
      <div class="key">Labels</div><div class="value">{{info.Labels || 'None'}}</div>
    </div>
    <!--<div class="row">
      <div class="key">Driver</div><div class="value">{{info.Driver}}{{info.DriverStatus}}</div>
      <div class="key">Registry Config</div><div class="value">{{info.RegistryConfig}}</div>
    </div>-->
  </div>
</div>

<div class="row">
  <h4><span class="glyphicon glyphicon-pushpin"></span>&nbsp;&nbsp;Host Config</h4>
  <div class="host-detail">
    <div class="row">
      <div class="key">Host name</div><div class="value">{{info.Name}}</div>
      <div class="key">Operating System</div><div class="value">{{info.OperatingSystem}}</div>
    </div>
    <div class="row">
      <div class="key">Kernel Version</div><div class="value">{{info.KernelVersion}}</div>
      <div class="key">System Time</div><div class="value">{{info.SystemTime}}</div>
    </div>
    <div class="row">
      <div class="key">Memory Total</div><div class="value">{{info.MemTotal}}</div>
      <div class="key">Memory Limit</div><div class="value">{{info.MemoryLimit}}</div>
    </div>
    <div class="row">
      <div class="key">Swap Limit</div><div class="value">{{info.SwapLimit}}</div>
      <div class="key">CPU Number</div><div class="value">{{info.NCPU}}</div>
    </div>
    <div class="row">
      <div class="key">CPU CFS Period</div><div class="value">{{info.CpuCfsPeriod}}</div>
      <div class="key">CPU CFS Quota</div><div class="value">{{info.CpuCfsQuota}}</div>
    </div>
    <div class="row">
      <div class="key">Events Listener</div><div class="value">{{info.NEventsListener}}</div>
      <div class="key">Go routines</div><div class="value">{{info.NGoroutines}}</div>
    </div>
    <div class="row">
      <div class="key">File Descriptor</div><div class="value">{{info.NFd}}</div>
    </div>
  </div>
</div>
</div>
