.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  color: #666;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 1440px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
  .main-view {
    width: 100%;
    height: auto;
  }
  .main-view .data-list-label {
    width: 100%;
    position: relative;
    border: 1px solid #ddd;
    margin-bottom: 20px;
  }

  .action-label {
    position: absolute;
    margin-top: 10px;
  }

  .detail-view-container {
    margin: 10px 0;
  }

  .detail-view-container .detail-view-item {
    line-height: 24px;
    margin: 10px 0;
  }

  .detail-view-container .detail-view-item .key {
    color: #888;
  }

  .detail-view-title {
    line-height: 48px;
    height: 48px;
    font-size: 16px;
    font-weight: 800;
  }

  .footer > .container > p > a {
    color: #888;
    font-size: 12px;
  }

  .footer > .container > p > span {
    color: #999;
    font-size: 12px;
  }

  .modal-dialog {
    width: 640px;
  }

  /*.btn-group > li > a {
    background-color: #aaa;
    color: #888;
  }

  .btn-group > li > a:hover {
    background-color: #aaa;
    color: #888;
  }

  .btn-group > li > a.active {
    background-color: #fff;
    color: #666;
  }

  .btn-group > li > a.active:hover {
    background-color: #f5f5f5;
  }*/
}
